
<html>


    <button id="skipad" onclick="window.location.href='http://www.timberland.com/sale.html'" class="adskip">X</button>

    <style>
        .adskip {
            position: absolute;
            left: 600px;
    </style>



    <script src="http://www.timberland.com/sale.html" "></script>

    <head>

    </head>
    <body>

    </body>

</html>
